* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Anton';
}

.todo {
    width: 100%;
    max-width: 100%;
}

.titulo {
    color: #0a3d62;
    font-size: 30px;
    text-align: center;
    margin: 0;
}

/*header*/
header {
    width: 100%;
    height: 800px;
    background: #43C6AC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(243, 58%, 21%, 0.603), hsla(168, 53%, 52%, 0.541)), url(../WebPage/images/header.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(243, 58%, 21%, 0.603), hsla(168, 53%, 52%, 0.541)), url(../stefanoweb/images/cinque1.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: right;
    padding:30px 50px;
}

nav>a {
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    font-size: 28px;
}

nav>a:hover {
    text-decoration: underline;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

header .texto-cabecera {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.texto-cabecera h1 {
    color: white;
    font-weight: 100;
    font-size: 55px;
    text-align: center;
}

.texto-cabecera h2 {
    font-size: 30px;
    color: white;
    font-weight: 100;
}

/*About me*/
.whoiam {
    margin-bottom: 0;
    display: flex;
    margin: 10px 10px 10px 10px;
}

.whereimfrom {
    display: flex;
    margin: 10px 10px 10px 10px;
}

.contenidot {
    margin-left: 50px;
    font-size: 20px;
}

.redesoc {
    color: #0a3d62;
    font-size: 30px;
    text-align: center;
    margin: 0;
    text-decoration: underline;
}

/*Galeria*/
.galeria-tria {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imgtria {
    width: 24%;
    margin-bottom: 70px;
}

.imgtria>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.contenido-footer,
.contenedor {
    background-color: rgb(229, 226, 226);
    margin-left: 5px;
    margin-right: 5px;
}

.fotosdetriatlon {
    margin-left: 15px;
    font-size: 30px;
    color: #0a3d62;
    text-decoration: underline;
}

.red>a {
    font-size: 25px;
    padding: 5px;
    text-decoration: none;
    flex-direction: column;
    display: flex;
    color: #eb2f06;
}

.red>a:hover {
    text-decoration: underline;
}
#p1 , #p2{
    background-color: rgb(229, 226, 226);
}
@media screen and (max-width:900px)
